<mat-toolbar color="primary" class="app-toolbar">
  <label style="margin:25px">
    Flight Viewer
  </label>

  <a mat-button routerLink="/flights">
    <mat-icon >flight</mat-icon>
    <span> Vols </span>
  </a>

  <a mat-button routerLink="/flights/offers">
    <mat-icon >airplane_ticket</mat-icon>
    <span> Offres </span>
  </a>
<!--
  <a mat-button routerLink="/trains/lines">
    <mat-icon >train</mat-icon>
    <span> Trains </span>
  </a>

  <a mat-button routerLink="/">
    <mat-icon >wallet</mat-icon>
    <span> MyWallet </span>
  </a>
-->
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>