<div fxLayout="column" fxLayoutGap="10px">

    <div class="space-around" fxFlex fxFlexAlign="center" fxLayout="column" fxLayoutGap="10px">
        <div fxFlex="100%" *ngIf="hasNoFilterApplied" fxFlexAlign="center" fxLayout="column" fxLayoutGap="10px">
            <mat-form-field>
                <input matInput [min]="minDate" [matDatepicker]="picker" [formControl]="dateFormCtrl">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-button *ngIf="from == null" (click)="currentFilter = FilteringType.DepartureStation">
                Lieu de départ
            </button>

            <button mat-button *ngIf="from != null" fxFlex class="selected"
                (click)="currentFilter = FilteringType.DepartureStation">
                <label fxFlex [innerHTML]="from.name"></label>
            </button>

            <div fxFlex="100%" fxFlexAlign="center">
                <mat-icon>south</mat-icon>
            </div>

            <button mat-button *ngIf="to == null" (click)="currentFilter = FilteringType.ArrivalStation">
                Lieu d'arrivée
            </button>

            <button mat-button *ngIf="to != null" fxFlex class="selected"
                (click)="currentFilter = FilteringType.ArrivalStation">
                <label fxFlex [innerHTML]="to.name"></label>
            </button>
        </div>
        <div fxFlex="100%" fxFlexAlign="start" fxLayout="column" fxLayoutGap="10px"
            *ngIf="hasDepartureFilter || hasArrivalFilter">
            <app-flight-offer-station-search (onSubmit)="onDataSubmit($event)" [stations]="stations">
            </app-flight-offer-station-search>
        </div>
     
    </div>

    <button mat-raised-button class="search-btn" (click)="search()" *ngIf="hasNoFilterApplied">
        <mat-icon>search</mat-icon>
        <span>Valider</span>
    </button>
</div>