<div *ngFor="let f of itinerary.flightProducts;">


    <mat-accordion>
        <mat-expansion-panel *ngFor="let con of f.connections">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>
                        <h2 class="type" [innerHTML]="con.commercialCabinLabel"></h2>
                    </strong>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex fxLayoutAlign="center" fxLayout="column"  fxLayoutGap="20px">
                <div fxFlex="100%">
                    <div fxLayout="row wrap" fxFlex fxLayoutGap="5px">
                        <strong> Places disponibles </strong>
                        <span [innerHTML]="con.numberOfSeatsAvailable"></span>
                    </div>
    
                    <div fxLayout="row wrap" fxFlex fxLayoutGap="5px">
                        <span [innerHTML]="con.price.totalPrice"></span>
                        <span [innerHTML]="con.price.currency"></span>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">
                    <button mat-button
                        (click)="showDetail(f._links.ticketConditions.href, RequestRedirectType.TicketCondition)">Tickets
                        conditions</button>
                    <button mat-button
                        (click)="showDetail(f._links.taxBreakdown.href, RequestRedirectType.TaxBreakdown)">Tax
                        breakdown</button>
                    <button mat-button
                        (click)="showDetail(f._links.priceDetails.href, RequestRedirectType.PriceDetail)">Price
                        Details</button>
                </div>
    
                <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px">
                    <button mat-raised-button
                        (click)="showDetail(f._links.ticketConditions.href, RequestRedirectType.TicketCondition)">Tickets
                        conditions</button>
                </div>
    
            </div>
     

        </mat-expansion-panel>
    </mat-accordion>

</div>