.space-around {
    margin:5px;
}

.offer-item{
    padding: 10px;
    border-radius: 10px 0px 100px 10px;
    color: white;
    width: 100%;
  }

  .offer-item-parent{
    padding: 0px 0px 10px 0px;
    border-radius: 10px 10px 10px 10px;
  }


  .business {
    background-color: #b53f3f;
  }

 .business-border {
    border: 1px solid #b53f3f;
  }

  .premium {
    background-color: #b56a3f;
  }

  .premium-border {
    border: 1px solid #b56a3f;
  }

  .economy {
    background-color: #3f51b5;
  }

  
  .economy-border {
    border: 1px solid #3f51b5;
  }

  h2{
    margin :0px;
  }